<!--Y axis unit picker-->
<div *ngIf="yUnit">
  <div ngbDropdown class="input-group-append">
    <button ngbDropdownToggle class="btn btn-sm btn-outline-secondary dropdown-toggle"
            id="yUnitDropdown"
            [ngClass]="{'dropdown-toggle': yUnits}">
      {{ selectedYUnit || 'Unit' }}
    </button>
    <ul ngbDropdownMenu aria-labelledby="yUnitDropdown" class="dropdown-menu" *ngIf="yUnits">
      <li class="dropdown-item"
          (click)="onYUnitSelect(u)"
          *ngFor="let u of yUnits">{{ u }}</li>
    </ul>
  </div>
</div>
<!--Chart-->
<div id="{{chartId}}" style="height: 100%;"></div>
<!--X axis unit picker-->
<div class="row mb-3" *ngIf="xUnit">
  <div class="col-sm-1 offset-sm-11">
    <div ngbDropdown class="input-group-append float-right">
      <button ngbDropdownToggle class="btn btn-sm btn-outline-secondary dropdown-toggle"
              id="xUnitDropdown"
              [ngClass]="{'dropdown-toggle': xUnits}">
        {{ selectedXUnit || 'Unit' }}
      </button>
      <ul ngbDropdownMenu aria-labelledby="xUnitDropdown" class="dropdown-menu" *ngIf="xUnits">
        <li class="dropdown-item"
            (click)="onXUnitSelect(u)"
            *ngFor="let u of xUnits">{{ u }}</li>
      </ul>
    </div>
  </div>
</div>
