.bg-dark {
  background-color: #151515 !important;
}

.to-top-button {
  margin-top: -44px;
}

.no-href-a {
  color: #fff !important;
}

article {
  padding: 1rem !important;
}

.navbar-brand {
  white-space: normal;
  margin: 0 !important;
}
