<header class="header header-sticky header-transparent">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a routerLink="/" class="navbar-brand">CAE Tech Math Inputs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/examples">Examples</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<section class="bg-primary py-0">
  <div class="image image-gradient-vertical" style="background-image:url(../../assets/images/image.jpg)"></div>
  <div class="container">
    <div class="row align-items-end vh-100 text-white">
      <div class="col mb-10">
        <div class="row align-items-end">
          <div class="col-md-6 pb-5 pb-md-0">
            <h1 class="error-type">404</h1>
          </div>
          <div class="col-md-6">
            <p class="error-text">The page you’re looking for isn’t available. Try to search again or use the go back button.</p>
            <a routerLink="/" class="action eyebrow">Homepage</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
