.heatmap {
  overflow-x: auto;
  white-space: nowrap
}

.titles {
  font-size: 12px;
}

//th {
//  color: #7f7f7f;
//  font-weight: bold;
//}
//
//th, td {
//  font-size: 14px;
//  min-width: 80px;
//  text-align: right;
//  padding: 2px 5px;
//  border: 1px #ffffff solid;
//}
//
//td {
//  font-size: 15px;
//  color: #212121;
//}
